.301_52 { 
	overflow:hidden;
}.e301_52 { 
	width:1920px;
	height:400px;
	position:absolute;
}.e301_53 { 
	background-color:rgba(21.887500025331974, 25.341524183750153, 51.00000075995922, 1);
	width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e301_54 { 
	color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:170px;
	height:220.22998046875px;
	position:absolute;
	left:224px;
	top:90px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}